<div class="container-fluid w-100  h-100 position-relative ">
    <div class="img-back">
        <img src="../../assets/images/hero-bg.jpg" alt="" class="w-100 h-100">
    </div>
    <nav class="container navbar navbar-expand-lg ">
        <div class="container-fluid ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link text-light" href="#">CONTANCT TO US</a>
                    <a class="nav-link text-light mx-4" href="#">TRAINING</a>
                    <a class="nav-link text-light mx-4" href="#"> WHY US </a>
                    <a class="nav-link text-light  mx-4 current" aria-current="page" href="#">HOME</a>
                </div>
            </div>
            <h2 class="brand-navi text-light">Neogym</h2>
        </div>
    </nav>
    <div>
        <div id="carouselExampleDark"
            class="carousel carousel-dark slide mt-5 d-flex justify-content-center flex-column">

            <div class="carousel-indicators mt-5">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner mt-5 ">
                <div class="carousel-item mb-5 active p-0" data-bs-interval="10000">
                    <div class="d-flex justify-content-center align-items-center  flex-column">
                        <span class="mb-1 text-light" style="font-size: 2.5rem; font-weight: 900;">Fitness</span>
                        <span class="mb-1 text-light" style="font-size: 3rem; font-weight: 900;">Training</span>
                        <span class="mb-3 text-light" style="font-size:3.5rem; font-weight: 900;">Neogym</span>

                        <p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod
                            tempor incididunt ut <br>
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse .</p>
                        <span class="contant ">contant to us</span>
                    </div>
                </div>
                <div class="carousel-item mb-5" data-bs-interval="2000">
                    <div class="d-flex justify-content-center align-items-center  flex-column">
                        <span class="mb-1 text-light" style="font-size: 2.5rem; font-weight: 900;">Fitness</span>
                        <span class="mb-1 text-light" style="font-size: 3rem; font-weight: 900;">Training</span>
                        <span class="mb-3 text-light" style="font-size:3.5rem; font-weight: 900;">Neogym</span>

                        <p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod
                            tempor incididunt ut <br>
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse .</p>
                        <span class="contant ">contant to us</span>
                    </div>
                </div>
                <div class="carousel-item mb-5">
                    <div class="d-flex justify-content-center align-items-center  flex-column">
                        <span class="mb-1 text-light" style="font-size: 2.5rem; font-weight: 900;">Fitness</span>
                        <span class="mb-1 text-light" style="font-size: 3rem; font-weight: 900;">Training</span>
                        <span class="mb-3 text-light" style="font-size:3.5rem; font-weight: 900;">Neogym</span>

                        <p class="text-center text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod
                            tempor incididunt ut <br>
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. <br> Duis aute irure dolor in reprehenderit
                            in
                            voluptate velit esse .</p>
                        <span class="contant ">contant to us</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- part 2 -->
<div class="why-choose-us p-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 text-center">
                <h2 class="title-choose">Why Choose Us</h2>
            </div>
            <div class=" col-sm-12  col-lg-3 text-center text-light ">
                <img src="../../assets/images/u-4.png" alt="" class="mb-3">
                <h4 class="mb-3">QUALITY EQUIPMENT</h4>
                <p class="mb-3">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="col-sm-12  col-lg-3 text-center text-light ">
                <img src="../../assets/images/u-3.png" alt="" class="mb-3">
                <h4 class="mb-3">QUALITY EQUIPMENT</h4>
                <p class="mb-3">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="col-sm-12  col-lg-3 text-center text-light ">
                <img src="../../assets/images/u-2.png" alt="" class="mb-3">
                <h4 class="mb-3">QUALITY EQUIPMENT</h4>
                <p class="mb-3">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
            <div class="col-sm-12  col-lg-3 text-center text-light ">
                <img src="../../assets/images/u-1.png" alt="" class="mb-3">
                <h4 class="mb-3">QUALITY EQUIPMENT</h4>
                <p class="mb-3">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            </div>
        </div>
    </div>
</div>

<!-- part 3 -->

<div class="healthy-body">
    <div class="container">
        <div class="row g-5">
            <div class="col-12">
                <h2>HEALTHY MIND, HEALTHY BODY</h2>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                    ea
                    commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillumLorem ipsum dolor
                    sit amet,
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                    enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                    irure
                    dolor
                    in reprehenderit in voluptate velit esse cillum</p>
            </div>
            <div class="col-12"> <span class="contant ">contant to us</span></div>
        </div>
    </div>
</div>

<!-- part 4 -->

<div class="trainers">
    <div class="container">
        <div class="row g-5">
            <div class="col-sm-12 col-lg-12 mb-5">
                <h2>Our Gym Trainers</h2>
            </div>
            <div class=" col-sm-12 col-lg-4">
                <div class="trainer-div">
                    <img src="../../assets/images/t3.jpg" alt="" class="img-trainer w-100 h-100">
                    <div class="soical">
                        <a href=""><img src="../../assets/images/facebook-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/instagram-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/twitter.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="trainer-div">
                    <img src="../../assets/images/t2.jpg" alt="" class="img-trainer w-100 h-100">
                    <div class="soical">
                        <a href=""><img src="../../assets/images/facebook-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/instagram-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/twitter.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="trainer-div">
                    <img src="../../assets/images/t1.jpg" alt="" class="img-trainer w-100 h-100">
                    <div class="soical">
                        <a href=""><img src="../../assets/images/facebook-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/instagram-logo.png" alt=""></a>
                        <a href=""><img src="../../assets/images/twitter.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- part 5 -->

<div class="contant-to-us">
    <div class="container">
        <div class="row g-5">
            <div class="col-sm-12 col-lg-6 ">
                <div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
                    <form>
                        <div class="mb-3 w-100">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3 w-100">
                            <label for="exampleInputPassword1" class="form-label">number</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 w-100">
                            <label for="exampleInputPassword1" class="form-label">email</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 w-100">
                            <label for="exampleInputPassword1" class="form-label">phone number</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <img src="../../assets/images/contact-img.jpg" alt="" class="w-100 h-100">
            </div>
        </div>
    </div>
</div>

<!-- part 6 -->
<footer class="footer">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4">
                <img src="../../assets/images/telephone-white.png" alt="">
                <p class="mt-5">+15555557855</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/images/envelope-white.png" alt="">
                <p class="mt-5">infoyourdomain.gmail.com</p>
            </div>
            <div class="col-lg-4 ">
                <img src="../../assets/images/location-white.png" alt="">
                <p class="mt-5">new york</p>
            </div>
        </div>
    </div>
</footer>